body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.card-body {
  text-align: center;
}

/* Sayfa başlığı */
h1 {
  font-weight: bold;
  color: #333;
}

/* Kart gölgelendirme */
#futbol-takimlari .card {
  transition: transform 0.2s ease;
}
#futbol-takimlari .card:hover {
  transform: scale(1.05);
}

